# List Items

List items are ordered, changeable and allow dupplicate value.

In [ ]:
List item are indexed, the first item has index [0], and the second item has index [1].

# Ordered

In [ ]:
We say list items are ordered, it means that the items have defined order and that order will not change. 
If you add new item to a list, the new item will be placed at the end of list.

# Changable

List can changealbe it means we can change add, remove items in a list after it has been created.

# Allow Duplicates

In [7]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [8]:
print(len(thislist))

5

In [9]:
thislist[0]

'apple'

In [20]:
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry
apple
cherry

# Change value of item

In [10]:
list_1 = [1, 2, 3, "4"]
list_1[1] = "truong"
print(list_1)
print(type(list_1[3]))

[1, 'truong', 3, '4']
<class 'str'>

# Change a range of item value

In [15]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon","2","2","3"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', '2', '2', '3', 'orange', 'kiwi', 'mango']

# Insert Item

To insert a new list item, without relapcing any of the existing value, we can use "insert()" method
The insert() method inserts an item at the specified index:

In [18]:
list_2 = [1, 2, 3, 4 , 5]
list_2.insert(2, 5)
print(list_2)

[1, 2, 5, 3, 4, 5]

# Append items

To add the item to the end of the list, we can use "append" method.

In [19]:
list_3 = [1, 2,323 , 24]
list_3.append("orage")
print(list_3)

[1, 2, 323, 24, 'orage']

# Extend list

In [20]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

# Add Any Iterable

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.

In [21]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# Remove Specified Item

In [22]:
thislist.remove("apple")
print(thislist)

['banana', 'cherry', 'kiwi', 'orange']

# Remove specified index

In [ ]:
The pop() method removes the specified index.

In [23]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [ ]:
If you do not specify the index, the pop() method removes the last item.

In [ ]:
The del keyword also remove the specifed index

In [24]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

# Clear list

In [ ]:
The clear() method empties the list.

The list still remains, but it has no content.

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# Loop

In [27]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [28]:
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [34]:
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', <class 'list'>, <class 'list'>, <class 'list'>, ['mango', 'pineapple', 'papaya'], 'mango', 'pineapple', 'papaya']

In [35]:
i = 0 
while i < len(thislist):
    print(thislist[i])
    i += 1

apple
banana
cherry
<class 'list'>
<class 'list'>
<class 'list'>
['mango', 'pineapple', 'papaya']
mango
pineapple
papaya

In [37]:
[print(x) for x in thislist]

apple
banana
cherry
<class 'list'>
<class 'list'>
<class 'list'>
['mango', 'pineapple', 'papaya']
mango
pineapple
papaya

[None, None, None, None, None, None, None, None, None, None]

# List Comprehension

In [3]:
fruit = ["apple", "Ambarella", "apricot", "banana", "coconut", "cherry"]
newlist = []
for x in fruit:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'Ambarella', 'apricot', 'banana']

In [43]:
newlist_2 = [x for x in fruit if "a" in x ]
print(newlist_2)

['apple', 'Ambarella', 'apricot', 'banana']

# The syntax

newlist = [expression for item in iterable if condition == True]

In [46]:
newlist_3 = [x for x in fruit if x != "apple" ]
print(newlist_3)

['Ambarella', 'apricot', 'banana', 'coconut', 'cherry']

In [48]:
newlist_4 = [x for x in range(10)]
print(newlist_4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
newlist = [x.upper() for x in fruit]
print(newlist)

['APPLE', 'AMBARELLA', 'APRICOT', 'BANANA', 'COCONUT', 'CHERRY']

In [54]:
newlist = [ "truong2" for x in fruit]
print(newlist)

['truong2', 'truong2', 'truong2', 'truong2', 'truong2', 'truong2']

In [57]:
newlist = [x if x != "banana" else "orange" for x in fruit ]
print(newlist)

['apple', 'Ambarella', 'apricot', 'orange', 'coconut', 'cherry']

# Sort list

In [10]:
newlist.sort(reverse = True)

In [11]:
newlist

['banana', 'apricot', 'apple', 'Ambarella']

In [16]:
list_1 = [100, 1, 2, 3, 5 ,7 ,4 ,5 ]
list_1.sort(reverse = True)
print(list_1)

[100, 7, 5, 5, 4, 3, 2, 1]

# Customise Sort Function

In [18]:
def myfunc(n):
    return abs(n - 50)
for x in list_1: 
    print(myfunc(x))
list_1.sort(key = myfunc)
list_1

43
45
45
46
47
48
49
50

[7, 5, 5, 4, 3, 2, 1, 100]

Case Insensitive Sort, In default, sort method is case insensitive, resulting in all capital letters being sorted before lower case letters:

In [23]:
newlist.sort(key = str.lower)
newlist

['Ambarella', 'apple', 'apricot', 'banana']

# Reserve Order

What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [24]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

# Copy a list

You cannot copy list symply by typing list_1 = list_2 , because : list 2 will only reference to list_1, and changes made in list 1 will automatic also be made in list 2

In [25]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [26]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

# Join List

In [27]:
list_3 = thislist + newlist
list_3

['apple', 'banana', 'cherry', 'Ambarella', 'apple', 'apricot', 'banana']

In [29]:
list_4 = []
for x in list_3:
    list_4.append(x)
list_4

['apple', 'banana', 'cherry', 'Ambarella', 'apple', 'apricot', 'banana']

In [37]:
list_5 = ['hehe','apple','cherry','5']
list_5.extend(list_3)

In [38]:
list_5

['hehe',
 'apple',
 'cherry',
 '5',
 'apple',
 'banana',
 'cherry',
 'Ambarella',
 'apple',
 'apricot',
 'banana']